<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <!-- <link rel="stylesheet" href="/stylesheets/KeyBoardMenuSecond.css"> -->
  <link rel="stylesheet" href="/stylesheets/Menus.css">
  <link rel="stylesheet" href="/stylesheets/SceneTransition.css">
  <link rel="stylesheet" href="/stylesheets/TextMessage.css">
  <link rel="stylesheet" href="/stylesheets/MessageBox.css">
  <link rel="stylesheet" href="/stylesheets/TitleScreen.css">
</head>

<body>
  <!-- <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p> -->
  <div class="game-container" style="margin-bottom: 100px;">
    <canvas id="canvas" class="game-canvas"></canvas>
  </div>
</body>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/TextMessage.js"></script>
<script src="/javascripts/InputTextMessage.js"></script>
<script src="/javascripts/MessageBox.js"></script>
<script src="/javascripts/KeyPressListener.js"></script>
<script src="/javascripts/GameObject.js"></script>
<script src="/javascripts/Sprite.js"></script>
<script src="/javascripts/OverworldMap.js"></script>
<script src="/javascripts/OverworldEvent.js"></script>
<script src="/javascripts/RevealingText.js"></script>
<script src="/javascripts/SceneTransition.js"></script>
<script src="/javascripts/Overworld.js"></script>
<!-- <script src="/javascripts/KeyBoardMenuSecond.js"></script> -->
<script src="/javascripts/Menu.js"></script>
<script src="/javascripts/ClueMenu.js"></script>
<script src="/javascripts/Progress.js"></script>
<script src="/javascripts/TitleScreen.js"></script>
<script src="/javascripts/PlayerState.js"></script>
<script src="/javascripts/init.js"></script>

</html>