body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.game-container {
  position: relative;
  width: 640px;
  height: 360px;
  margin: 0px auto;
  outline: 1px solid #000;

  /* 放大背景 */
  transform: scale(1.5) translateY(30%);
}
.game-container canvas {
  image-rendering: pixelated;
  width:100%;
  height: 100%;
}
